body{
    background-color: #002D62;
    height: 100%;
}
.commentLength {
    color: white;
}
.row{
    display:flex;
    flex-direction: row;
  }
  .col{
    flex: 1;
    margin-bottom: 30px;
  }
  .image {
    flex-grow: 1 !important;
  }
  .comment{
      margin-top: -15px !important;
    flex-grow: 20 !important;
  }

  img {
      height: 50px;
      width: 50px;
      border-radius:50%
  }
  p{
      color: white;
  }
  input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: transparent;
    color:002D62 ;
    border: none;
    border-bottom: 2px solid white;
    margin-left: 20px !important;
}
.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  